body {
    font-size: 15px;
    line-height: 22px;
    color: rgba(252, 252, 252, 0.96);
    font-family: 'Karla', sans-serif;
    margin: 0px;
    background-image: url(taustakuva.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

#jebe {
    background-color: ;
    margin: auto;
    width: 35%;
    padding-top: 20px;
    padding: 30px;

}

h1 {
    font-size: 30px;
    font-family: "Arial-Black", Gadget, sans-serif;
    color: #9ce573;
}

p {
    font-size: 14px;
    font-family: "Arial", sans-serif;
}

button {

    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border-style: none;
    color: #ffffff;
    background-color: #74AF5D;
    width: 30%;
    margin-left: 35%;
}

button a {
    text-decoration: none;
    color: white;
}


select,
textarea,
input[type="text"],
input[type="textbox"] {
    height: 30px;
    width: 100%;
    ;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;

}

@media only screen and (max-width: 768px) {
    #jebe {
        width: 300px;
    }
